<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>
        <!-- Maplibre -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.css' />
        <script src='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.js'></script>
        {% if is_pmtiles %}
        <script src="https://unpkg.com/pmtiles@3.0.6/dist/pmtiles.js"></script>
        {% endif %}
        <script src="https://kit.fontawesome.com/4d3dd7deeb.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/protomaps-themes-base@2.0.0-alpha.5/dist/index.js"></script>
        <style>
            html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
            #map { position: absolute; top: 0; bottom: 0; right: 0; left: 0; }
        </style>
    </head>
    <body>
        <div id="map" style=""></div>
        <script>
            function stopElement() {
                const el = document.createElement("div");
                el.style.backgroundColor = "white";
                el.style.width = "22px";
                el.style.height = "22px";
                
                el.style.borderWidth = "3px";
                el.style.borderStyle = "solid";
                el.style.borderColor = "black";
                el.style.borderRadius = "100%";

                return el;
            }

            function userElement() {
                const el = document.createElement("div");
                el.style.backgroundColor = "#1da1f2";
                el.style.width = "16px";
                el.style.height = "16px";
                
                el.style.borderWidth = "2px";
                el.style.borderStyle = "solid";
                el.style.borderColor = "white";
                el.style.borderRadius = "100%";

                return el;
            }

            function busElement() {
                const bus = document.createElement("i");
                bus.className = "fa fa-bus";
                bus.style.marginTop = "5px";

                const el = document.createElement("div");
                el.style.backgroundColor = "white";
                el.style.width = "22px";
                el.style.height = "22px";
                el.style.textAlign = "center";
                
                el.style.borderWidth = "3px";
                el.style.borderStyle = "solid";
                el.style.borderColor = "black";
                el.style.borderRadius = "100%";

                el.appendChild(bus);

                return el;
            }
        
        {% if is_pmtiles %}
        const protocol = new pmtiles.Protocol();
        maplibregl.addProtocol('pmtiles', protocol.tile);
        {% endif %}

        const map = new maplibregl.Map({
                container: 'map',
                maxBounds: [[27.970848, 40.737673], [29.958805, 41.671000]],
                maxZoom: 15,
                fitBoundsOptions: {
                    padding: 50,
                },
                {% if center %}
                center: [{{ center.x }}, {{ center.y }}],
                {% elif bounds %}
                bounds: [[{{ bounds.min_x }}, {{ bounds.min_y }}], [{{ bounds.max_x }}, {{ bounds.max_y }}]],
                {% else %}
                bounds: [[27.970848, 40.737673], [29.958805, 41.671000]],
                {% endif %}
                {% if zoom %}
                zoom: {{ zoom }},
                {% endif %}
                style: {
                    version: 8,
                    glyphs: "https://cdn.protomaps.com/fonts/pbf/{fontstack}/{range}.pbf",
                    sources: {
                        protomaps: {
                            type: "vector",
                            {% if is_pmtiles %}url: "pmtiles://{{ url }}",{% else %}tiles: ["{{ url }}"],{% endif %}
                            attribution: '<a href="https://protomaps.com">Protomaps</a> © <a href="https://openstreetmap.org">OpenStreetMap</a>',
                        },
                    },
                    layers: protomaps_themes_base.default('protomaps', 'dark')
                },
            });
            
            map.on("load", () => {
                let prevBusMarkers = [];
                let marker;
                {% for marker in markers %}
                marker = new maplibregl.Marker({ element: {% if marker.type == "bus" %}busElement(){% elif marker.type == "user" %}userElement(){% else %}stopElement(){% endif %} })
                    .setLngLat([{{ marker.x }}, {{ marker.y }}])
                    .setPopup(new maplibregl.Popup()
                        {% if marker.text %}.setText("{{ marker.text }}"){% endif %}
                        {% if marker.html %}.setHTML("{{ marker.html|safe }}"){% endif %}
                    )
                    .addTo(map);

                {% if marker.type == "bus" %}
                prevBusMarkers.push(marker);
                {% endif %}
                {% endfor %}

                {% if markers_url %}
                const resp = fetch('{{ markers_url }}')
                    .then((response) => response.json())
                    .then((response) => {
                        if (response.success) {
                            prevBusMarkers.forEach((marker) => {
                                marker.remove();
                            });
                            prevBusMarkers = [];
                            response.markers.forEach((marker) => {
                                marker = new maplibregl.Marker({ element: busElement() })
                                    .setLngLat([marker.x, marker.y])
                                    .setPopup(new maplibregl.Popup().setText(marker.text))
                                    .addTo(map);
                                prevBusMarkers.push(marker);
                            });
                        }
                    });
                window.setInterval(() => {
                    const resp = fetch('{{ markers_url }}')
                    .then((response) => response.json())
                    .then((response) => {
                        if (response.success) {
                            prevBusMarkers.forEach((marker) => {
                                marker.remove();
                            });
                            prevBusMarkers = [];
                            response.markers.forEach((marker) => {
                                marker = new maplibregl.Marker({ element: busElement() })
                                    .setLngLat([marker.x, marker.y])
                                    .setPopup(new maplibregl.Popup().setText(marker.text))
                                    .addTo(map);
                                prevBusMarkers.push(marker);
                            });
                        } {% if is_vehicle%}
                        else {
                            
                        }
                        {% endif %}
                    });
                }, 20000)
                {% endif %}
            });
        </script>
    </body>
</html>
