{% if announcements %}
<table id="stopAnnouncements">
    <thead>
        <tr>
            <th scope="col">{{ translations.line }}</th>
            <th scope="col">{{ translations.information }}</th>
        </tr>
    </thead>
    <tbody>
        {% for announcement in announcements %}
            <tr>
                <td><a href="/lines/{{ announcement.line_code }}">{{ announcement.line_code }}</a></td>
                <td>{{ announcement.information }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ translations.noStopAnnouncementsFound }}</p>
{% endif %}